article > h3 {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: green;
    background-color: aqua;
  }

article > p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
 }

.bgimage {
  background-image: url('https://picsum.photos/id/54/200/300');
  background-repeat: no-repeat;
  
}
button:hover {
  background-color: green; 
  color: white; 
}

.logo {
  width: 200px;
  height: 200px;
}